<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layer.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <h2>Password Generator</h2>
              </a>
            </div>
          </nav>
    </header>
    <main>
      <div class="explanation">
        <h3>To generate the password just fill in the fields below according to the examples for more than one letter, word and number</h3>        
      </div>
      <div class="form-data">
        <tr>
        <form method="POST" action="{{ url_for('genereitor') }}">
          <td><input type="text" value="exp. a, B, c, d" id = "latter" name="latter"></td>
          <td><input type="text" value="exp. 1,2,3" id = "number" name='number'></td>
          <td><input type="text" value="Number Caracter" id = "number_caracter" name="number_caracter"></td>
          <button>Gerar</button>
          </form>
        </tr>
      </div>
    </main>
</body>
</html>

